USE [Grades]
GO

CREATE PROCEDURE [dbo].[Data_Generator] (
	@NumNewTests INT = 1,
	@NumNewSubjects INT = 1,
	@NumNewZones INT = 1, 
	@NumNewQuestions INT = 1
) 
AS
BEGIN
	
	-- NOTE: Assuming the update is not very large, I update the tables in a single batch and not in multiple batches 	
	SET NOCOUNT ON
	
	-- Note that I could split to multilpe transactions (each per table update) in order to lock for a shorter time 
	-- (and use a log table to track the tables we've already completed to insert to in order to not to insert again if we rerun the the script),
	-- but since all the data is very interrlated, I prefer to use a single transaction and fail everything if anything goes wrong.
	BEGIN TRY
		BEGIN TRANSACTION; 

		-------------------------------- Generate new catalog Tests -------------------------------------

		DECLARE @lastExistingTestId INT
		-- lock so new rows will not be inserted by other scripts while we run here, in order to make sure the latest existing id we store in @lastExistingTestId will not be changed. 
		SELECT @lastExistingTestId = ISNULL(MAX(TestId), 0) FROM dbo.Tests WITH (TABLOCKX, HOLDLOCK) -- ensure holding the lock until after the inserts 

		DECLARE @testCount INT = 1;
		WHILE @testCount <= @NumNewTests
		BEGIN
			INSERT [dbo].[Tests] ([TestId], [TestName], [IsATest]) 
			VALUES (@lastExistingTestId + @testCount, CONCAT('Test Number ', @lastExistingTestId + @testCount), ABS(CHECKSUM(NEWID()) % 2)) -- RAND() retruns the same result for the entire scope
			SET @testCount = @testCount + 1;
		END

		-------------------------------- Generate new catalog Subjects ---------------------------------

		DECLARE @lastExistingSubjectId INT;
		SELECT @lastExistingSubjectId = ISNULL(MAX(SubjectId), 0) FROM dbo.Subjects WITH (TABLOCKX, HOLDLOCK) -- ensure holding the lock until after the inserts 

		DECLARE @subjectCount INT = 1;
		WHILE @subjectCount <= @NumNewSubjects
		BEGIN
			INSERT [dbo].[Subjects]  ([SnapshotId], [SubjectId], [SubjectName]) 
			VALUES (0, @lastExistingSubjectId + @subjectCount, CONCAT('Subject no. ', @lastExistingSubjectId + @subjectCount))
			SET @subjectCount = @subjectCount + 1;
		END

		-------------------------------- Generate new catalog Zones ----------------------------------- 

		DECLARE @lastExistingZoneId INT;
		SELECT @lastExistingZoneId = ISNULL(MAX(ZoneId), 0) FROM dbo.Zones WITH (TABLOCKX, HOLDLOCK) -- ensure holding the lock until after the inserts 

		DECLARE @zonesCount INT = 1;
		WHILE @zonesCount <= @NumNewZones
		BEGIN
			INSERT [dbo].[Zones] ([SnapshotId], [ZoneId], [ZoneName], [IsRelevant]) 
			VALUES (0, @lastExistingZoneId + @zonesCount, CONCAT('Zone no. ', @lastExistingZoneId + @zonesCount), 1)
			SET @zonesCount = @zonesCount + 1;
		END

		-------------------------------- Generate new catalog questions -------------------------------- 

		-- each question should refer a testId and I want it to be a random id from the existing testIds in the Tests table (each run of this script will refer a totally random testId to each new question)
		DROP TABLE IF EXISTS #ShuffledTests
		SELECT ROW_NUMBER() OVER (ORDER BY NEWID()) AS RowNumber, TestId
		INTO #ShuffledTests
		FROM Tests
		
		DECLARE @testsCount INT
		SELECT @testsCount = COUNT(*) FROM #ShuffledTests

		-- insert the questions (using random testId from the #ShuffledTests table)
		DECLARE @lastExistingQuestionId INT;
		SELECT @lastExistingQuestionId = ISNULL(MAX(QuestionId), 0) FROM dbo.Questions WITH (TABLOCKX, HOLDLOCK) -- ensure holding the lock until after the inserts 

		DECLARE @questionsCount INT = 1;
		DECLARE @randomTestId INT;
		WHILE @questionsCount <= @NumNewQuestions
		BEGIN
			-- pick a random testId to refer the question to a random test, using Round Robin on the #shuffledTests table that holds the testIds in random order
			SELECT TOP 1 @randomTestId = TestId 
			FROM #ShuffledTests 
			WHERE RowNumber = ((@questionsCount - 1) % @testsCount) + 1

			INSERT [dbo].[Questions] ([SnapshotId], [QuestionId], [QuestionText], [Score], [IsRelevant], [TestId]) 
			VALUES (0, @lastExistingQuestionId + @questionsCount, CONCAT('Question no. ', @lastExistingQuestionId + @questionsCount), NULL, 1, @randomTestId)

			SET @questionsCount = @questionsCount + 1;
		END

		-------------------------------- Generate new catalog SubjectZones --------------------------------

		-- each Zone should refer a SubjectId and I want it to be a random id from the existing SubjectIds in the Subjects table (each run of this script will refer a totally random SubjectId to each new zone)
		DROP TABLE IF EXISTS #ShuffledSubjects
		SELECT ROW_NUMBER() OVER (ORDER BY NEWID()) AS RowNumber, SubjectId
		INTO #ShuffledSubjects
		FROM dbo.Subjects
		WHERE SnapshotId = 0 -- get only the ids of the catalog, otherwise we get duplicated ids. If I would like to use only the newly created Subjects, I'll add: AND SubjectId > @lastExistingSubjectId
		
		DECLARE @shuffledSubjectsCount INT
		SELECT @shuffledSubjectsCount = COUNT(*) FROM #ShuffledSubjects

		-- insert the subjectZone (using random subjectId from the #ShuffledSubjects table)
		
		DECLARE @subjectZonesCount INT = 1;
		DECLARE @randomSubjectId INT;
		DECLARE @numOfSubjectZones INT = @NumNewZones; -- for simplicity, I create a single SubjectZone relation for every new Zone. In future versions we should support multiple subject relations per zone
		WHILE @subjectZonesCount <= @numOfSubjectZones
		BEGIN
			-- pick a random subjectId to refer the zone to a random subject, using Round Robin on the ##ShuffledSubjects table that holds the subjectIds in random order
			SELECT TOP 1 @randomSubjectId = SubjectId 
			FROM #ShuffledSubjects 
			WHERE RowNumber = ((@subjectZonesCount - 1) % @shuffledSubjectsCount) + 1

			INSERT [dbo].[SubjectZones] ([SnapshotId], [SubjectId], [ZoneId]) 
			VALUES (0, @randomSubjectId, @lastExistingZoneId + @subjectZonesCount)

			SET @subjectZonesCount = @subjectZonesCount + 1;
		END

		-------------------------------- Generate new catalog ZonesQuestions --------------------------------
		
		-- each Question should refer a ZoneId and I want it to be a random id from the existing ZoneIds in the Zones table (each run of this script will refer a totally random ZoneId to each new zone)
		DROP TABLE IF EXISTS #ShuffledZones
		SELECT ROW_NUMBER() OVER (ORDER BY NEWID()) AS RowNumber, ZoneId
		INTO #ShuffledZones
		FROM dbo.Zones
		WHERE SnapshotId = 0 -- get only the ids of the catalog, otherwise we get duplicated ids. If I would like to use only the newly created Subjects, I'll add: AND ZoneId > @lastExistingZoneId 
		
		DECLARE @shuffledZonesCount INT
		SELECT @shuffledZonesCount = COUNT(*) FROM #ShuffledZones

		-- insert the zoneQuestion (using random zoneId from the ##ShuffledZones table)
		
		DECLARE @zonesQuestionsCount INT = 1;
		DECLARE @randomZoneId INT;
		DECLARE @numOfZoneQuestionsCount INT = @NumNewQuestions; -- for simplicity, I create a single ZoneQuestion relation for every new Question. In future versions we should support multiple zone relations per question
		WHILE @zonesQuestionsCount <= @numOfZoneQuestionsCount
		BEGIN
			-- pick a random zoneId to refer the question to a random zone, using Round Robin on the #ShuffledZones table that holds the zoneIds in random order
			SELECT TOP 1 @randomZoneId = ZoneId 
			FROM #ShuffledZones 
			WHERE RowNumber = ((@zonesQuestionsCount - 1) % @shuffledZonesCount) + 1

			INSERT [dbo].[ZonesQuestions] ([SnapshotId], [ZoneId], [QuestionId]) 
			VALUES (0, @randomZoneId, @lastExistingQuestionId + @zonesQuestionsCount)

			SET @zonesQuestionsCount = @zonesQuestionsCount + 1;
		END		
		
		-------------------------------- copy catalog data to a new snapshot --------------------------------

		-- find the last existing snapshot value
		DECLARE @lastExistingSnapshotId INT;
		SELECT @lastExistingSnapshotId = ISNULL(MAX(SnapshotId), 0) FROM dbo.Subjects -- no need to lock (to ensure no new snapshotId is inserted while we calculate the new snapshotId value) since the table is already locked
		DECLARE @newSnapshotId INT = @lastExistingSnapshotId + 1;

		-- copy catalog Subjects 
		INSERT INTO dbo.Subjects (SnapshotId, SubjectId, SubjectName)
		SELECT @newSnapshotId, SubjectId, SubjectName FROM dbo.Subjects -- SnapshotId = @newSnapshotId
		WHERE SnapshotId = 0

		-- copy catalog Zones. Insert random value to IsRelevant
		INSERT INTO dbo.Zones (SnapshotId, ZoneId, ZoneName, IsRelevant)
		SELECT @newSnapshotId, ZoneId, ZoneName, ABS(CHECKSUM(NEWID()) % 2) FROM dbo.Zones -- SnapshotId = @newSnapshotId
		WHERE SnapshotId = 0

		-- copy catalog SubjectZones 
		INSERT INTO dbo.SubjectZones (SnapshotId, SubjectId, ZoneId)
		SELECT @newSnapshotId, SubjectId, ZoneId FROM dbo.SubjectZones -- SnapshotId = @newSnapshotId
		WHERE SnapshotId = 0

		-- copy catalog Questions. Create random scores and relevancy
		INSERT INTO dbo.Questions (SnapshotId, QuestionId, QuestionText, Score, IsRelevant, TestId)
		SELECT @newSnapshotId, QuestionId, QuestionText, 
		CASE 
			WHEN ABS(CHECKSUM(NEWID()) % 9) = 0 THEN NULL -- 1 of 9 grades will be NULL, the rest are random between 0 and 100.
			ELSE ABS(CHECKSUM(NEWID()) % 101)
		END, 
		ABS(CHECKSUM(NEWID()) % 2), TestId FROM dbo.Questions -- SnapshotId = @newSnapshotId
		WHERE SnapshotId = 0

		-- copy catalog ZonesQuestions 
		INSERT INTO dbo.ZonesQuestions (SnapshotId, ZoneId, QuestionId)
		SELECT @newSnapshotId, ZoneId, QuestionId FROM dbo.ZonesQuestions -- SnapshotId = @newSnapshotId
		WHERE SnapshotId = 0

		-- TBD: if any zone is left without questions at all, make it irrelevant?

		COMMIT;
	END TRY
	BEGIN CATCH
		ROLLBACK;

		PRINT 'Error Number: ' + CAST(ERROR_NUMBER() AS VARCHAR);
		PRINT 'Severity: ' + CAST(ERROR_SEVERITY() AS VARCHAR);
		PRINT 'State: ' + CAST(ERROR_STATE() AS VARCHAR);
		PRINT 'Procedure: ' + ISNULL(ERROR_PROCEDURE(), 'N/A');
		PRINT 'Line: ' + CAST(ERROR_LINE() AS VARCHAR);
		PRINT 'Error Message: ' + ERROR_MESSAGE();
	END CATCH; 

END
